* {
    box-sizing: border-box;
}

:root {
    color-scheme: light dark;
    --light: #fff;
    --lesslight: #efefef;
    --dark: #404040;
    --moredark: #000;
    --link: royalblue;
    border-top: 5px solid var(--dark);
    line-height: 1.5em;
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: var(--dark);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1em;
    font-family: serif;
}

button, input {
    font-size: 1em; /* Override browser default font shrinking*/
}

input {
    border: 1px solid var(--dark);
    background-color: var(--lesslight);
    border-radius: .25em;
    padding: .5em;
}

pre, code {
    font-size: 90%;
    font-family: monospace;
    background-color: var(--lesslight);
}

pre {
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em;
    overflow: auto;
}

blockquote {
    border-left: 0.25rem solid var(--dark);
    padding-left: 1rem;
}

body {
    background-color: var(--light);
    margin: 0;
    max-width: 800px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
}

a {
    outline: none;
    color: var(--dark);
}

a:hover {
    text-decoration-color: var(--link);
}

img, picture {
    max-width: 100%;
    height: auto;
    display: block;
}

button, .button, input[type=submit] {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    text-align: center;
    padding: .5em;
    border-radius: .25em;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: var(--lesslight);
    background-color: var(--moredark);
}

button + button, .button + .button, input[type=submit] + input[type=submit] {
    margin-left: 1em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.bordered {
    border: 3px solid;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

@media (min-width: 600px) {
    ol.twocol {
	column-count: 2;
    }

    .row {
	display: flex;
	flex-direction: row;
	padding: 0;
	width: 100%;
    }

    .row > * {
	display: block;
	flex: 1 1 auto;
	max-width: 100%;
	width: 100%;
    }

    .row > *:not(:last-child) {
	margin-right: 10px;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
	--light: #222;
	--lesslight: #333;
	--dark: #eee;
	--moredark: #fefefe;
    }
    *:focus {
	outline: var(--light);
	box-shadow: 0 0 0 .25em var(--link);
    }
}

@media print {
    .home {
	display: none;
    }
}


.title {
    text-align: center;
    margin: 1.2em auto;
}

table {
    margin: auto;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    border-collapse: collapse;
}

table tr {
    border-top: 1px solid gray;
}

table td, table th {
    padding: 0.2em 0.4em;
    vertical-align: left;
}

table td + td, table th + th {
    border-left: 1px solid gray;
}

pre span.org-builtin                     {color:#006FE0;font-weight:bold;}
pre span.org-string                      {color:#008000;}
pre span.org-doc                         {color:#008000;}
pre span.org-keyword                     {color:#0000FF;}
pre span.org-variable-name               {color:#BA36A5;}
pre span.org-function-name               {color:#006699;}
pre span.org-type                        {color:#6434A3;}
pre span.org-preprocessor                {color:#808080;font-weight:bold;}
pre span.org-constant                    {color:#D0372D;}
pre span.org-comment-delimiter           {color:#8D8D84;}
pre span.org-comment                     {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-1            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-2            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-3            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-4            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-5            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-6            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-7            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-8            {color:#8D8D84;font-style:italic}
pre span.org-outshine-level-9            {color:#8D8D84;font-style:italic}
pre span.org-rainbow-delimiters-depth-1  {color:#707183;}
pre span.org-rainbow-delimiters-depth-2  {color:#7388d6;}
pre span.org-rainbow-delimiters-depth-3  {color:#909183;}
pre span.org-rainbow-delimiters-depth-4  {color:#709870;}
pre span.org-rainbow-delimiters-depth-5  {color:#907373;}
pre span.org-rainbow-delimiters-depth-6  {color:#6276ba;}
pre span.org-rainbow-delimiters-depth-7  {color:#858580;}
pre span.org-rainbow-delimiters-depth-8  {color:#80a880;}
pre span.org-rainbow-delimiters-depth-9  {color:#887070;}
pre span.org-sh-quoted-exec              {color:#FF1493;}
pre span.org-diff-added                  {color:#008000;}
pre span.org-diff-changed                {color:#0000FF;}
pre span.org-diff-header                 {color:#800000;}
pre span.org-diff-hunk-header            {color:#990099;}
pre span.org-diff-none                   {color:#545454;}
pre span.org-diff-removed                {color:#A60000;}

#postamble p, #preamble p {
    font-size: small;
    margin: .2em;
}

.timestamp {
    font-family: monospace;
    font-size: small;
}
